/target
Cargo.lock
.directory
**/*.rs.bk
src/runs.sh
libphylo.so
/data
/debug_txt
data/external/*
data/interim/*
data/processed/*
data/raw/*
data/results/*
mafft.fasta
pdb_a.fasta
temp_a.fasta
trace
config/dolphin.yaml
config/vulpes.yaml
pre
notebooks/.ipynb_checkpoints/*